// Campus changes to Moodle for the upgrade.

.breadcrumb-item + .breadcrumb-item {
    padding-left: 0;
    &::before {
        content: '';
    }
}

.breadcrumb > li > .divider {
    padding-left: 4px;
}

// MDL-57305 - thanks to Daniel Miericke.
.block {
    .block-action {
        @include fa-icon();
        cursor: pointer;
        float: right;
        margin: .2rem .6rem 0 0;
        &:before {
            content: $fa-var-compress;
        }
    }
    &.hidden {
        .block-action:before {
            content: $fa-var-expand;
        }
        .card-text {
            display: none;
        }
    }
}
