// Campus changes to Moodle for the upgrade.

.breadcrumb-item + .breadcrumb-item {
    padding-left: 0;
    &::before {
        content: '';
    }
}

.breadcrumb > li > .divider {
    padding-left: 4px;
}

// MDL-57305 - thanks to Daniel Miericke.
.block {
    .block-action {
        @include fa-icon();
        cursor: pointer;
        float: right;
        margin: .2rem .6rem 0 0;
        &:before {
            content: $fa-var-compress;
        }
    }
    &.hidden {
        .block-action:before {
            content: $fa-var-expand;
        }
        .card-text {
            display: none;
        }
    }
    .card-body {
        padding: 0;
    }
}

.block_navigation .block_tree .tree_item {
    margin-top: 0;
}


.campusnavbar .campusnavbarcontainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navbar {
    .popover-region-toggle {
        &::after {
            bottom: -6px;
            right: -3px;
        }
        &::before {
            bottom: -7px;
            right: -4px;
        }
    }

    .popover-region-container {
        right: -15px;
        top: 2.4rem;
    }
}

[data-region=right-hand-drawer].drawer {
    height: 100%;
    top: 0;
    z-index: $zindex-popover;
}

