//
// Variables
// --------------------------------------------------


// Global values
// --------------------------------------------------


// Grays
// -------------------------
$black:                 #000;
$grayDark:              #333;
$gray:                  #555;
$grayLight:             #767676;
$grayLightOrig:         #999;
$grayLightish:          #ccc;
$grayLighter:           #eee;
$white:                 #fff;


// Accent colors
// -------------------------
$blue:                  #049cdb !default;
$blueDark:              #0064cd !default;
$green:                 #46a546 !default;
$red:                   #9d261d !default;
$yellow:                #ffc40d !default;
$orange:                #f89406 !default;
$pink:                  #c3325f !default;
$purple:                #7a43b6 !default;


// Scaffolding
// -------------------------
// http://colorschemedesigner.com/#1631Tndw0w0w0
$body-bg:        $white !default;
$bodyBackgroundAlt:     #feee36 !default;
$body-color:             #333333 !default;
$themeBackground:       $grayLighter !default;
$blockHeadingColor:     #555555 !default;
$textShadow:            $grayLighter !default;
$iconColor:             #7575E0 !default;

// Links
// -------------------------
$link-color:             $body-color !default;
$link-hover-color:       lighten($link-color, 20%) !default;


// Typography
// -------------------------
$baseFontName:          "Source Sans Pro" !default;
$sansFontFamily:        $baseFontName, "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$serifFontFamily:       Georgia, "Times New Roman", Times, serif !default;
$monoFontFamily:        Monaco, Menlo, Consolas, "Courier New", monospace !default;

// Mapped
$font-family-sans-serif: $baseFontName, "Helvetica Neue", Helvetica, Arial, sans-serif !default;

$baseFontSize:          14px !default;
$baseFontFamily:        $sansFontFamily !default;
$baseLineHeight:        20px !default;
$altFontFamily:         $serifFontFamily !default;

$headingsFontName:      "Source Sans Pro" !default;
//$headingsFontFamily:  inherit; // empty to use BS default, $baseFontFamily
$headingsFontFamily:    $headingsFontName, "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$headingsFontWeight:    bold !default;    // instead of browser default, bold
$headings-color:         #555555 !default;

// Mapped
$headings-font-family:  $headingsFontName, "Helvetica Neue", Helvetica, Arial, sans-serif !default;


// Component sizing
// -------------------------
// Based on 14px font-size and 20px line-height

$fontSizeLarge:         ($baseFontSize * 1.25) !default; // ~18px
$fontSizeSmall:         ($baseFontSize * 0.85) !default; // ~12px
$fontSizeMini:          ($baseFontSize * 0.75) !default; // ~11px

$paddingLarge:          11px 19px !default; // 44px
$paddingSmall:          2px 10px !default;  // 26px
$paddingMini:           0 6px !default;   // 22px

$baseBorderRadius:      4px !default;
$borderRadiusLarge:     6px !default;
$borderRadiusSmall:     3px !default;


// Tables
// -------------------------
$tableBackground:                   transparent !default; // overall background-color
$tableBackgroundAccentOdd:          rgba(red($bodyBackgroundAlt), green($bodyBackgroundAlt), blue($bodyBackgroundAlt), 0.5) !default; // for striping
$tableBackgroundHoverOdd:           lighten($tableBackgroundAccentOdd, 3%) !default; // for hover
$tableBackgroundEven:               darken($bodyBackgroundAlt, 20%) !default;
$tableBackgroundAccentEven:         rgba(red($tableBackgroundEven), green($tableBackgroundEven), blue($tableBackgroundEven), 0.5) !default; // for striping
$tableBackgroundHoverEven:          darken($tableBackgroundAccentEven, 3%) !default; // for hover
$tableBorder:                       #ddd !default; // table and cell border

// Wells
// -------------------------
//$wellBackground:                  #FFE7AA !default;


// Forms
// -------------------------
$inputBackground:               lighten($contentColor, 5%) !default;
$inputBorder:                   darken($contentColor, 20%) !default;
$inputBorderRadius:             $baseBorderRadius !default;
$inputDisabledBackground:       $grayLighter !default;
$formActionsBackground:         $body-bg !default;
$inputHeight:                   ($baseLineHeight + 10px); // base line-height + 8px vertical padding + 2px top/bottom border


// Dropdowns
// -------------------------
$dropdownBackground:            $contentColor !default;
$dropdownBorder:                rgba(0,0,0,.2) !default;
$dropdownDividerTop:            #e5e5e5 !default;
$dropdownDividerBottom:         $white !default;

$dropdownLinkColor:             $body-color !default;
$dropdownLinkColorHover:        darken($dropdownLinkColor, 10%) !default;
$dropdownLinkColorActive:       darken($dropdownLinkColorHover, 10%) !default;

$dropdownLinkBackgroundActive:  $contentColor !default;
$dropdownLinkBackgroundHover:   lighten($dropdownLinkBackgroundActive, 8%) !default;

$dropdown-link-hover-color:     darken($gray-900, 5%) !default;


// COMPONENT VARIABLES
// --------------------------------------------------


// Z-index master list
// -------------------------
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)
$zindexDropdown:          1000 !default;
$zindexPopover:           1010 !default;
$zindexTooltip:           1030 !default;
$zindexFixedNavbar:       1030 !default;
$zindexModalBackdrop:     1040 !default;
$zindexModal:             1050 !default;

// Input placeholder text color
// -------------------------
$placeholderText:         $grayLight !default;


// Hr border color
// -------------------------
$hrBorder:                lighten($grayLighter, 20%) !default;


// Navbar
// -------------------------
$navbarCollapseWidth:             960px !default;
$navbarCollapseDesktopWidth:      ($navbarCollapseWidth + 1) !default;

$navbarHeight:                    34px !default;

$navbarLinkColor:                 $navbarText !default;
$navbarLinkBackgroundActive:      darken($navbarBackground, 5%) !default;


$navbarText:                        $body-color !default;
$navbarLinkColorHover:              darken($navbarLinkColor, 5%) !default;
$navbarLinkColorActive:             $navbarLinkColorHover !default;

$navbar-dark-color:                 $navbarLinkColor !default;
$navbar-dark-hover-color:           $navbarLinkColorHover !default;
$navbar-dark-active-color:          $navbarLinkColorActive !default;

$navbar-light-color:                $navbarLinkColor !default;
$navbar-light-hover-color:          $navbarLinkColorHover !default;
$navbar-light-active-color:         $navbarLinkColorActive !default;

$navbarBrandColor:                        $navbarText !default;
$navbar-light-brand-color:                $navbarBrandColor !default;
$navbar-light-brand-hover-color:          $navbarBrandColor !default;
$navbar-dark-brand-color:                 $navbarBrandColor !default;
$navbar-dark-brand-hover-color:           $navbarBrandColor !default;

// Inverted navbar
$navbarInverseBackground:                $grayDark !default;
$navbarInverseBorder:                    lighten($navbarBackground, 12%) !default;

$navbarInverseText:                      darken($bodyBackgroundAlt, 5%) !default;
$navbarInverseLinkColor:                 lighten($bodyBackgroundAlt, 2%) !default;
$navbarInverseLinkColorHover:            lighten($bodyBackgroundAlt, 5%) !default;
$navbarInverseLinkColorActive:           $navbarInverseLinkColorHover !default;
$navbarInverseLinkBackgroundHover:       $navbarInverseBackground !default;
$navbarInverseLinkBackgroundActive:      $navbarInverseBackground !default;

$navbarInverseSearchBackground:          lighten($navbarInverseBackground, 25%) !default;
$navbarInverseSearchBackgroundFocus:     $white !default;
$navbarInverseSearchBorder:              $navbarInverseBackground !default;
$navbarInverseSearchPlaceholderColor:    darken($grayLighter, 20%) !default;

$navbarInverseBrandColor:                $navbarInverseLinkColor !default;


// Pagination
// -------------------------
$pagination-bg:                         lighten($bodyBackgroundAlt, 1%) !default;
$pagination-border-color:               darken($bodyBackgroundAlt, 5%) !default;
$pagination-active-bg:                  lighten($bodyBackgroundAlt, 10%) !default;

// Hero unit
// -------------------------
$heroUnitBackground:              $grayLighter !default;
$heroUnitHeadingColor:            inherit !default;
$heroUnitLeadColor:               inherit !default;


// Form states and alerts
// -------------------------
$warningText:             #c09853 !default;
$warningBackground:       #fcf8e3 !default;
//$warningBorder:           darken(spin($warningBackground, -10), 3%);
$warningBorder:           darken($warningBackground, 3%) !default;

$errorText:               #b94a48;
$errorBackground:         #f2dede;
//$errorBorder:             darken(spin($errorBackground, -10), 3%);
$errorBorder:             darken($errorBackground, 3%) !default;

$successText:             #468847;
$successBackground:       #dff0d8;
//$successBorder:           darken(spin($successBackground, -10), 5%);
$successBorder:           darken($successBackground, 5%) !default;

$infoText:                #3a87ad;
$infoBackground:          #d9edf7;
//$infoBorder:              darken(spin($infoBackground, -10), 7%);
$infoBorder:              darken($infoBackground, 7%) !default;

// Custom Campus variables
// -------------------------
// Note: Using old LESS format for clarity of theme custom vars.

// Look and feel.
$pageWidthMaximum: 1680px !default;
$contentColor: #fff !default;

// Blocks.
$blockHeadingBackgroundColour: #a1d6de !default;
$blockHeadingBorderTopWidth: 1px !default;
$blockHeadingBorderRightWidth: 1px !default;
$blockHeadingBorderBottomWidth: 0 !default;
$blockHeadingBorderLeftWidth: 1px !default;
$blockContentBorderTopWidth: 0 !default;
$blockContentBorderRightWidth: 1px !default;
$blockContentBorderBottomWidth: 1px !default;
$blockContentBorderLeftWidth: 1px !default;
$blockBackgroundColour: #ffffff !default;
$blockBorderColour: #a1d6de !default;
$blockBorderStyle: solid !default;
$blockIconColour: #000 !default;

// Navbar.
$navbarBackground: $bodyBackgroundAlt !default;
$navbarBackgroundHighlight: $bodyBackgroundAlt !default;
$navbarIconColour: #000 !default;
$navbarInverseBackgroundHighlight: $gray !default;
$navbarPageHeadingMax: 200px !default;

// Frontpage.
$frontpageHeaderHeightDefault: 70px !default;

$frontpagePageHeadingHeaderPositionLeft: auto !default;
$frontpagePageHeadingHeaderPositionRight: auto !default;

$frontpageLogoPosition: left !default;

$frontpageLogoWidth: 20% !default;
$frontpageBackgroundWidth: 80% !default;
$frontpageAbsolutePaddingBottom: 0% !default;
$frontpageFlexPaddingBottom: 0% !default;

// Carousel.
$carouselColour: #ffd974 !default;
$carouselTextColour: #ffffff !default;
$slideButtonColour: #30add1 !default;
$slideButtonHoverColour: #217a94 !default;
$carouselActiveColour: #ffd974 !default;

// Course category.
$courseCategoryHeaderHeightDefault: 70px !default;
$courseCategoryLogoHeightDefault: 40px !default;

$courseCategoryPageHeadingHeaderPositionLeftDefault: auto !default;
$courseCategoryPageHeadingHeaderPositionRightDefault: auto !default;

$courseCategoryLogoPosition: left !default;

$courseCategoryBackgroundPositionDefault: left !default;

$courseCategoryLogoWidthDefault: 20% !default;
$courseCategoryBackgroundWidthDefault: 80% !default;
$courseCategoryPaddingBottomDefault: 0% !default;

// Forum header.
$forumHeaderBackgroundColour: rgba(255, 255, 255, 0.5) !default;
$forumHeaderBorderColour: darken($forumHeaderBackgroundColour, 10%) !default;
$forumHeaderTextColour: $body-color !default;
$forumHeaderLinkColour: inherit !default;
