// Campus custom.

// Theme background.
body {
    background-color: @themeBackground;
}

// Anti gravity.
.antiGravity {
    background-color: rgba(red(@bodyBackgroundAlt), green(@bodyBackgroundAlt), blue(@bodyBackgroundAlt), 0.6);
    border-color: @bodyBackgroundAlt;
    border-radius: 1em;
    border-style: solid;
    border-width: 1px;
    bottom: 32px;
    color: @navbarText;
    display: none;
    font-size: 32px;
    line-height: 1;
    padding: 10px 10px 6px 10px; 
    position: fixed;
    right: 40px;
    text-align: center; 
    text-decoration: none;
    &:hover {
        text-decoration: none;
        border-radius: 1em;
        color: darken(@navbarText, 10%);
    }
    i.fa {
        padding-bottom: 2px;
    }
}

// Goto bottom.
@media (max-width: 979px) {
    .navbar .nav {
        &.slusermenu li:first-child {
            position: absolute;
            right: 0;
            z-index: 1;
        }
    }
}

// Local login.
body.hidelocallogin .loginbox .loginsub { // See core_renderer::body_attributes().
    display: none;
}

// Login buttons.
.logininfo .btn {
    margin-left: 5px;
}

// Frontpage.
.frontpageheader.absolutelayout {
    position: relative;
    max-height: @frontpageHeaderHeight;
    max-width: 1680px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    .logotitle {
        position: absolute;
        top: 0px;
        left: @frontpageLogoPositionLeft;
        right: @frontpageLogoPositionRight;
        z-index: 1;
    }
    .frontpagelogoheight {
        height: @frontpageLogoHeight;
    }
    .sitename {
        position: absolute;
        top: 10px;
        left: @frontpageSitenamePositionLeft;
        right: @frontpageSitenamePositionRight;
        z-index: 1;
    }
    .backgroundimage {
        max-height: inherit;
        float: @frontpageBackgroundPosition;
    }
}
@media (max-width: @navbarCollapseWidth) {
    .frontpageheader.absolutelayout {
        .frontpagelogoheight {
            height: auto;
        }
    }
}

@media (max-width: 767px) {
    .frontpageheader.absolutelayout {
        padding-left: 0px;
        padding-right: 0px;
    }
}

.frontpageheader.flexlayout {
    position: relative;
    max-height: @frontpageHeaderHeight;
    max-width: 1680px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    .logotitle {
        display: inline;
    }
    .logotitle.left {
        margin: auto auto auto 0;
    }
    .logotitle.right {
        margin: auto 0 auto auto;
    }
    .backgroundcontainer {
        max-height: inherit;
        .backgroundimage {
            max-height: inherit;
        }
    }
    .sitename {
        position: absolute;
        top: 10px;
        left: @frontpageSitenamePositionLeft;
        right: @frontpageSitenamePositionRight;
        z-index: 1;
    }
}

@media (max-width: 767px) {
    .frontpageheader.flexlayout {
        padding-left: 0px;
        padding-right: 0px;
    }
}

// Navbar.
.navbar {
    clear: both;
    max-width: 1680px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    img.userpicture {
        vertical-align: top;
        width: auto;
        height: auto;
        max-width: 20px;
        max-height: 20px;
    }
}

@media (max-width: @navbarCollapseWidth) {
    .navbar {
        display: inline-table;
        .nav-collapse.collapse {
            display: none;
        }
        .nav-collapse.collapse.active {
            display: block;
        }
    }
}

@media (max-width: 767px) {
    .navbar {
        padding-left: 0px;
        padding-right: 0px;
    }
}

// Footer.
#page-footer .logininfo {
    margin-bottom: 5px;
}

// Remove text shadow from navbar, block headings and buttons - task 390.
.navbar .nav > li > a, .block .header .title h2, .block h3.main, .btn {
    text-shadow: none;
}