/* Campus Custom CSS
-------------------------*/
a.logo {
    background: url([[setting:logo]]) no-repeat 0 0;
    display: block;
    float: left;
    height: 75px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.dir-rtl a.logo {
    background: url([[setting:logo]]) no-repeat 100% 0;
    display: block;
    float: right;
}

#region-main-campus {
    background-color: #fff;
}

/* Negate core style so that browser renders drop target correctly. */
.empty-region-side-pre #block-region-side-pre, .empty-region-side-post #block-region-side-post {
    display: block;
}

.dir-rtl .breadcrumb-nav {
    float: right;
}

/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]
