/* Campus Custom CSS
-------------------------*/
a.logo {
    background: url([[setting:logo]]) no-repeat 0 0;
    display: block;
    float: left;
    height: 75px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.dir-rtl a.logo {
    background: url([[setting:logo]]) no-repeat 100% 0;
    display: block;
    float: right;
}

#region-main-campus {
    background-color: #fff;
    box-shadow: 0 0 8px #888;
}

#region-main-campus-shadow {
    background: url([[pix:theme|shadow]]) no-repeat scroll 50% 100% / 96% 12px transparent;
    padding-bottom: 12px;
    margin: 0 auto;
    display: block;
    clear: both; /* Clear floats that are sometimes used to make the #region-main-campus fit the content, i.e Editing Quiz. */
}

/* Negate core style so that browser renders drop target correctly. */
.empty-region-side-pre #block-region-side-pre, .empty-region-side-post #block-region-side-post {
    display: block;
}

.dir-rtl .breadcrumb-nav {
    float: right;
}

/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]
