{{!
    @template theme_campus/nav-drawer


    Example context (json): {}
}}
<div id="nav-drawer" data-region="drawer" class="d-print-none moodle-has-zindex {{^navdraweropen}}closed{{/navdraweropen}}" aria-hidden="{{#navdraweropen}}false{{/navdraweropen}}{{^navdraweropen}}true{{/navdraweropen}}" tabindex="-1">
    {{> theme_boost/flat_navigation }}
</div>
{{#js}}
require(['jquery', 'core/log'], function($, log) {

    "use strict"; // jshint ;_;

    log.debug('Campus Collapse Flatnav AMD');

    $(document).ready(function($) {
        //$('[data-parent-key="mycourses"]').prop('style.display', 'none');
        $('[data-key="mycourses"]').click(function() {
            $('[data-parent-key="mycourses"]').slideToggle('slow', function() {
                log.debug('1: ' + $(this).attr('style'));
                log.debug('1: ' + $(this).prop('style.display'));
                var style = $(this).attr('style');
                if (($(this).attr('style') == 'display: inline') || ($(this).prop('style.display') == 'block')) {
                    $(this).attr('style', 'display: none;');
                    $(this).prop('style.display', 'none');
                } else {
                    $(this).attr('style', 'display: block;');
                    $(this).prop('style.display', 'block');
                }
                log.debug('2: ' + $(this).attr('style'));
                log.debug('2: ' + $(this).prop('style.display'));
            });
        });
        //$('[data-parent-key="mycourses"]').addClass('hidden');
        log.debug('Campus Collapse Flatnav AMD init');
    });

    return {}
});
{{/js}}