{{!
    @template theme_campus/nav-drawer


    Example context (json): {}
}}
<div id="nav-drawer" data-region="drawer" class="d-print-none moodle-has-zindex {{^navdraweropen}}closed{{/navdraweropen}}" aria-hidden="{{#navdraweropen}}false{{/navdraweropen}}{{^navdraweropen}}true{{/navdraweropen}}" tabindex="-1">
    {{#hasnavfakeblocks}}
    <section class="d-print-none" aria-label="{{#str}}blocks{{/str}}">
        {{{ sidenavfakeblocks }}}
    </section>
    {{/hasnavfakeblocks}}
    {{> theme_boost/flat_navigation }}
    {{#hasnavblocks}}
    <section class="d-print-none mt-3" aria-label="{{#str}}blocks{{/str}}">
        {{{ sidenavblocks }}}
    </section>
    {{/hasnavblocks}}
</div>
{{#js}}
require(['jquery', 'core/log'], function($, log) {
    "use strict"; // jshint ;_;

    log.debug('Campus Collapse Flatnav AMD');

    $(document).ready(function($) {
        $('[data-parent-key="mycourses"]').each(function() {
                $(this).prop('style.display', 'none');
            }
        );
        $('[data-key="mycourses"]').click(function() {
            $('[data-parent-key="mycourses"]').slideToggle('slow', function() {
                if (($(this).prop('style.display') == 'block')) {
                    $(this).prop('style.display', 'none');
                } else {
                    $(this).attr('style', 'display: block;');
                    $(this).prop('style.display', 'block');
                }
            });
        });
        log.debug('Campus Collapse Flatnav AMD init');
    });

    return {}
});
{{/js}}