{{!
    @template theme_campus/navbar


    Example context (json): {}
}}
<header>
    <nav class="campusnavbar navbar navbar-light navbar-static-top{{#navbarclasses}} {{navbarclasses}}{{/navbarclasses}} navbar-expand" aria-label="{{#str}}sitemenubar, admin{{/str}}">
        {{{output.render_nav_button}}}
        {{{output.page_heading}}}
        {{#primarymoremenu}}
        <div class="primary-navigation my-auto">
            {{> core/moremenu}}
        </div>
        {{/primarymoremenu}}

        <ul class="navbar-nav d-none d-md-flex my-1 px-1">
            <!-- page_heading_menu -->
            {{{ output.page_heading_menu }}}
        </ul>

        <div id="usernavigation" class="navbar-nav ml-auto">
            {{# output.search_box }}
                {{{ output.search_box }}}
                <div class="divider border-left h-75 align-self-center mx-1"></div>
            {{/output.search_box}}
            {{#langmenu}}
                {{> theme_boost/language_menu }}
                <div class="divider border-left h-75 align-self-center mx-1"></div>
            {{/langmenu}}
            {{{output.gotobottom_menu}}}
            {{{ output.navbar_plugin_output }}}
            <div class="nav-item d-flex align-items-center context-menu campussettingsmenu">{{{settingsmenu}}}</div>
            {{{ output.edit_switch }}}
            {{#logininfoheader}}
            <div class="d-flex align-items-stretch usermenu-container" data-region="usermenu">
            {{#usermenu}}
                {{> core/user_menu }}
            {{/usermenu}}
            </div>
            {{/logininfoheader}}
        </div>
    </nav>
{{> theme_boost/primary-drawer-mobile }}
</header>
